apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: log-shared-volume
          emptyDir: {}
      containers:
        - name: log-generator
          image: log-generator:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: log-shared-volume
              mountPath: /usr/src/app/files
        - name: log-reader
          image: log-reader:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: log-shared-volume
              mountPath: /usr/src/app/files

